.login-page {
    height: 100dvh;
    background-color: #f8f6f6;
}

.login-page .my-card {
    width: 420px;
    min-height: 520px;
    border-radius: 12px;
    padding-top: 40px;
}

.login-page .taka-icon {
    width: 100px;
}